.about {
    padding: 100px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text {
        width: 600 / 1280 *100%;
        &__title {
            &:after {
                margin: 16px auto;
            }
        }
    }

    .present {
        position: relative;
        &__img {
            margin-right: 125px;
            object-fit: cover;
            box-shadow: (0px 0px 50px rgba(0, 0, 0, 0.5));
        }

        &__squer {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 250px;
            height: 250px;
            background: transparent;
            border: 20px solid $main_color;
            border-radius: 5px;
        }
    }
}