.chef {
    background: url('../img/chef/chef-bg.jpg') center center/cover no-repeat;
    .container {
        position: relative;
        overflow-x: hidden;
    }

    &__uptitle {
        padding-top: 43px;
        margin-bottom: 43px;

        @media (max-width: 1199px) {
            padding-top: 28px;
            margin-bottom: 28px;
        }

        @media (max-width: 991px){
            margin-bottom: 18px;
        }
        
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 100px;

        @media (max-width: 1199px) {
            padding-bottom: 70px;
        }

        @media (max-width: 991px){
            padding-bottom: 50px;
        }
        @media (max-width: 767px) {
            padding-bottom: 30px;
        }
    }

    .divider {
        position: absolute;
        top: 0;
        width: 1px;
        height: 0;
        background: rgba(255, 255, 255, 0.2);
        transform: translateX(-50%);
        @media (max-width: 767px) {
            display: none;
        }

        &.anim-active {
            height: 100%;
            transition: height .4s ease-in-out 1.7s;
        }

        &--left {
            left: 295 / 1440 * 100%;
        }

        &--center {
            left: 50%;
        }

        &--right {
            right: 295 / 1440 * 100%;
        }
    }

    .present {
        width: 475 / 1280 * 100%;
        position: relative;
        margin-left: 125 / 1280 * 100%;

        opacity: 0;
        left: -50%;

        &.anim-active {
            opacity: 1;
            left: 0;
            transition: opacity .7s ease-in-out .2s, left .7s ease-in-out .2s;
        }

        @media (max-width: 991px) {
            width: calc(475 / 1280 * 100% - 10%);
            margin-left: calc(125 / 1280 * 100% - 2.5%);
        }
        @media (max-width: 767px) {
            display: none;
        }

        &__img {
            width: 100%;
            object-fit: cover;
            box-shadow: (0px 0px 50px rgba(0, 0, 0, 0.5));
            @media (max-width: 991px) {
                box-shadow: (0px 0px 20px rgba(0, 0, 0, 0.5))
            }
        }

        &__squer {
            position: absolute;
            left: -125 / 475 * 100%;
            top: 50%;
            transform: translateY(-50%) perspective(400px) rotate3d(0, 1, 0, -90deg);
            width: 250 / 475 * 100%;
            height: 250 / 475 * 100%;
            background: transparent;
            border: 20px solid $main_color;
            border-radius: 5px;

            &.anim-active {
                transform: translateY(-50%) perspective(400px) rotate3d(0, 1, 0, 0);
                transition: transform .4s 1.7s;
            }
            @media (max-width: 1199px) {
                border-width: 15px;
            }
            @media (max-width: 991px) {
                border-width: 8px;
            }
        }
    }

    .text {
        width: 600 / 1280 *100%;

        opacity: 0;
        transform: perspective(300px) translate3d(0, -200px, -500px);

        &.anim-active {
            opacity: 1;
            transform: perspective(300px) translate3d(0, 0, 0);
            transition: transform .7s ease-in-out 0.9s, opacity .7s ease-in-out 0.9s;
        }

        &__title {
            color: #FFFFFF;

            &:after {
                width: 65px;
                margin: 16px auto;
                @media (max-width: 991px) {
                    margin: 5px auto;
                }
            }
        }

        @media (max-width: 991px) {
            width: calc(600 / 1280 *100% + 10%);
        }
        @media (max-width: 767px) {
            width: 100%;
            opacity: 1;
            transform: none;
        }

        &__subtitle {
            color: #FFFFFF;
        }

        &__descr {
            color: #FFFFFF;
        }
    }
}