.contact {
    padding: 100px 0;

    @media (max-width: 1199px) {
        padding: 70px 0;
    }

    @media (max-width: 991px) {
        padding: 50px 0;
    }
    @media (max-width: 767px) {
        padding: 30px 0;
    }

    &__title {
        opacity: 0;
        transform: perspective(300px) translate3d(0, 200px, -500px);
        &.anim-active {
            opacity: 1;
            transform: perspective(300px) translate3d(0, 0, 0);
            transition: opacity .7s ease-in-out 0.2s, transform .7s ease-in-out 0.2s;
        }
        &.default {
            opacity: 1;
            transform: none;
        }
        &::after {
            margin: 16px auto;
            @media (max-width: 991px) {
                margin: 6px auto;
            }
        }
        @media (max-width: 767px) {
            opacity: 1;
            transform: none;
        }
    }
    
    &__subtitle {
        width: 565 / 1280 *100%;
        margin-bottom: 50px;

        opacity: 0;
        transform: perspective(300px) translate3d(0, 200px, -500px);
        &.anim-active {
            opacity: 1;
            transform: perspective(300px) translate3d(0, 0, 0);
            transition: opacity .7s ease-in-out 0.2s, transform .7s ease-in-out 0.2s;
        }

        &.default {
            opacity: 1;
            transform: none;
        }

        @media (max-width: 1199px) {
            margin-bottom: 30px;
            width: 70%;
        }
        @media (max-width: 767px) {
            width: 95%;
            opacity: 1;
            transform: none;
        }
        @media (max-width: 575px) {
            width: 100%;
        }
        
    }
    &__block {
        width: 100%;
        display: flex;
        justify-content: space-between;
       

        @media (max-width: 991px) {
            flex-direction: column-reverse;
        }
    }

    .contact-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        opacity: 0;

        &.anim-active {
            opacity: 1;
            transition: opacity .8s ease-in-out 1s;
        }

        &.default {
            opacity: 1;
        }

        @media (max-width: 767px) {
            opacity: 1;
        }

        &__input {
            width: 420 / 1280 * 100%;
            height: 60px;
            background: #E5E5E5;
            border-radius: 5px;

            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba(51, 51, 51, 0.5);
            padding: 18px 20px 22px;

            margin-bottom: 10px;

            &::placeholder {
                color: rgba(51, 51, 51, 0.5);
            }

            @media (max-width: 575px) {
                width: 100%;
            }
        }

        &__text {
            width: 100%;
            height: 120px;
            overflow-y: scroll;
            resize: none;

            background: #E5E5E5;
            border-radius: 5px;
            padding: 18px 10px 22px 20px;

            font-weight: 400;
            font-size: 14px;
            line-height: 19px;

            color: rgba(51, 51, 51, 0.5);

            margin-bottom: 10px;

            &::-webkit-scrollbar {
                width: 10px; /* ширина для вертикального скролла */
                height: 8px; /* высота для горизонтального скролла */
                background-color: #E5E5E5;
                border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb {
                width: 6px;
                background-color: rgba(51, 51, 51, 0.5);
                border-radius: 5px;
            }
            &::-webkit-scrollbar-button:vertical:start:decrement {
                display: none;
            }
            &::-webkit-scrollbar-button:vertical:end:increment {
                display: none;
            }

            &::placeholder {
                color: rgba(51, 51, 51, 0.5);
            }
        }

        

        .info {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 991px) {
                width: 100%;
            }
            @media (max-width: 575px) {
                flex-wrap: wrap;
            }

            &__block {
                display: flex;
                align-items: center;
                @media (max-width: 575px) {
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 5px;
                }
            }

            &__icon {
                margin-right: 7px;
                svg {
                    width: 10px;
                    height: 10px;

                    fill: $main_color;
                }

                &--xl {
                    svg {
                        width: 13px;
                        height: 13px;
                    }
                }
                
            }

            &__text {
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                color: rgba(51, 51, 51, 0.5);
                

                &:last-child {
                    margin-right: 7px;
                }

                a {
                    border-bottom: 1px solid transparent;
                    color: rgba(51, 51, 51, 0.5);
                    transition: all .2s ease-out;

                    &:hover {
                        border-bottom: 1px solid rgba(51, 51, 51, 0.5);
                        transition: all .4s ease-out;
                    }
                }

            }
        }

        &__btn {
            width: 50%;
            background: $main_color;

            @media (max-width: 991px) {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}