.header {
    position: absolute;
    width: 100%;
    z-index: 40;
    top: 0;
    left: 0;

    @media (max-width: 767px) {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px 0;
        height: 70px;
        background: rgba(0, 0, 0, .8);
    }
    @media (max-width: 575px) {
        padding: 10px 20px 0;  
    }

    &__title {
        display: none;
        @media (max-width: 767px) {
            display: block;
        }

        font-family: 'Banny';
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;
        text-transform: uppercase;
        color: #FFFFFF;

    }

    &__icon {
        display: none;
        @media (max-width: 767px) {
            display: block;
        }
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);

        svg {
            fill: $main_color;
            width: 100px;
            height: 100px;
            stroke: black;
            
            
        }

        @media (max-width: 575px) {
            display: none;
        }
    }

    &.fixed {
        position: fixed;
        z-index: 50;
        background: rgba(0, 0, 0, .8);

        .nav {
            @media (max-width: 991px) {
                padding: 0 40px;
            }

            &__item {
                border: none !important;
                @media (max-width: 1199px) {
                    height: 50px;
                }
                
            }

            &__icon {
                position: relative;
                svg {
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    top: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                    stroke: black;

                    @media (max-width: 1199px) {
                        width: 70px;
                        height: 70px;
                        top: 15px;
                    }
                }
            }
        }
    }
    
}

.burger {
    transform-origin: center center;
    display: none;
    position: absolute;
    top: 32px;
    left: -70px;
    z-index: 100;
    cursor: pointer;
    transition: left .9s cubic-bezier(.9, 0, .33, 1);
    &.active {
        left: 3%;
        transition: left .2s cubic-bezier(.9, 0, .33, 1);
    }

    @media (max-width: 767px) {
        display: block;
        height: 15px;
        width: 30px;
    }
    @media (max-width: 575px) {
        left: -50px;
    }

    .line {
        padding: 0;
        position: absolute;
        background: #fff;
        height: 2px;
        transition: all .6s cubic-bezier(.9, 0, .33, 1);

        &--1 {
            width: 30px;
            top: 0;
            transform: rotate(0) translateY(0);

            &.line-cross{
                width: 30px;
                top: 50%;
                transform: rotate(-45deg) translateY(-1.6px);
                background: rgba(255,255,255,0.8);
            }
        }

        &--2 {
            top: 50%;
            right: 0;
            width: 28px;
            transform: translateX(0) translateY(-50%);
            margin-right: 0;

            &.line-fade-out {
                width: 28px;
                transform: translateX(30px);
                opacity: 0;
            }
        }

        &--3 {
            bottom: 0;
            right: 0;
            width: 20px;
            transform: rotate(0) translateY(0);

            &.line-cross{
                width: 30px;
                bottom: 50%;
                transform: rotate(45deg) translateY(1px);
                background: rgba(255,255,255,0.8);
            }
        }
    }

}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;

    @media (max-width: 991px) {
        padding: 10px 40px 0;     
    }

    @media (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50%;
        padding: 0;
        transform: translateX(100%);   
        transition: all .6s cubic-bezier(.8, 0, .33, 1);     
        border-radius: 0% 0% 100% 50%;
    }

    @media (max-width: 575px) {
        width: 100%;
        
    }

    &.nav-open {
        transform: translateX(0);
        transition: all .6s cubic-bezier(.8, 0, .33, 1);
        border-radius: 0% 0% 0% 0%;
        background: rgba(0, 0, 0, .8);
    }


    &__list {
        display: flex;
        width: 532 / 1280 * 100%;
        @media (max-width: 767px) {
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            height: 50%;
        }


        &--left {
            @media (max-width: 767px) {
                justify-content: flex-end;
            }
            &.anim-active {
                .nav__item {               
                    @for $var from 1 to 5 { 
                        $delay: $var * 0.3 + 2;
                        &:nth-child(#{$var}) {
                            @if $var==1 {
                                animation: nav-item .6s ease-out 2.2s forwards;
                            } @else {
                                animation: nav-item .6s ease-out #{$delay + s} forwards;
                            }
                        }
                        
                    }
                }
            }

            &.default {
                .nav__item {               
                    @for $var from 1 to 5 { 
                        &:nth-child(#{$var}) {
                            opacity: 1;
                            transform: none;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                        }
                        
                    }
                }
            }
            
            
        }

        &--right {
            &.anim-active {
                .nav__item {               
                    @for $var from 1 to 5 { 
                        $delay: 5 - $var * 0.3 ;
                        &:nth-child(#{$var}) {
                            @if $var==1 {
                                animation: nav-item .6s ease-out 4.7s forwards;
                            } @else {
                                animation: nav-item .6s ease-out #{$delay + s} forwards;
                            }
                        }
                        
                    }
                }
            }

            &.default {
                .nav__item {               
                    @for $var from 1 to 5 { 
                        &:nth-child(#{$var}) {
                            opacity: 1;
                            transform: none;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                        }
                        
                    }
                }
            }
        }

        

    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 100px;
        transform: translateY(100px);
        opacity: 0;
        border-bottom: 1px solid transparent;

        a {
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;   
            color: #FFFFFF;
            border-bottom: 1px solid transparent;
            transition: all .4s;
            

            &:hover {
                color: $main_color;
                border-bottom: 1px solid $main_color;
                
            }
            @media (max-width: 767px) {
                font-size: 16px;
                
            }

            @media (max-width: 575px) {
                font-size: 18px;
                
            }
        }

        @media (max-width: 991px) {
            height: 50px;     
        }
        @media (max-width: 767px) {
            width: 60%;
            border-bottom: none !important; 
            opacity: 1;
            transform: none;  
        }
    }

    &__icon {
        width: 150 / 1280 * 100%;
        position: relative;
        opacity: 0;
        
        @media (max-width: 767px) {
            display: none;
        }

        &.anim-active {
            animation: main-icon 4s ease-out 1.2s both;
            
        }

        &.default {
            opacity: 1;
            transform: none;
        }

        svg {
            position: absolute;
            left: 50%;
            top: 25px;
            transform: translateX(-50%);
            width: 100%;
            fill: $main_color;

            @media (max-width: 991px) {
                height: 75px;
                top: 12.5px;       
            }
            
        }
    }
}

.no-scroll {
    overflow: hidden;
}
