.main {
    position: relative;
    background: url('../img/main/main-bg.jpg') center center/cover no-repeat;
    overflow: hidden;

    .container {
        position: relative;
    }

    .divider {
        position: absolute;
        top: 100px;
        width: 1px;
        height: 0;
        background: rgba(255, 255, 255, 0.2);
        transform: translateX(-50%);

        @media (max-width: 991px) {
            top: 60px;    
        }

        @media (max-width: 767px) {
            display: none;
        }

        &.default {
            height: 100%;
        }

        &--left {
            left: 295 / 1440 * 100%;

            &.anim-active {
                height: 100%;
                transition: height .4s ease-in-out 4.8s;
            }

        }

        &--center {
            top: 203px;
            left: 50%;
            &.anim-active {
                height: 454px;
                transition: height .3s ease-in-out 4.8s;
                @media (max-width: 1199px) {
                    height: 404px;
                    transition: height .3s ease-in-out 4.8s;
                }
                @media (max-width: 991px) {
                    height: 428px;
                    transition: height .3s ease-in-out 4.8s;
                }
            }

            &.default {
                height: 454px;
                @media (max-width: 1199px) {
                    height: 404px;
                }
                @media (max-width: 991px) {
                    height: 428px;
                }
            }

            @media (max-width: 1199px)  {
                height: 0;
                top: 183px;
            }
            @media (max-width: 991px) {
                top: 117px;
                height: 0; 
            }
        }

        &--right {
            right: 295 / 1440 * 100%;
            &.anim-active {
                height: 100%;
                transition: height .4s ease-in-out 4.8s;
            }
            
        }
    }

    .body {
        position: relative;
        padding-top: 325px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1199px)  {
            padding-top: 270px;
        }
        @media (max-width: 991px) {
            flex-direction: column-reverse;
            padding-top: 220px;
        }
        @media (max-width: 767px) {
            padding-top: 160px;
        }
        @media (max-width: 575px) {
            padding-top: 150px;
        }

        &__left {
            position: relative;
            font-weight: 700;
            font-size: 12px;
            line-height: 12px;
            color: #FFFFFF;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            width: 60px;
            display: flex;

            top: -150px;
            opacity: 0;

            &.anim-active{
                animation: body-parts .4s ease-in-out 5s forwards;
            }

            &.default {
                opacity: 1;
                top: 0;
            }

            @media (max-width: 991px) {
                writing-mode: horizontal-tb;
                transform: rotate(0);
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
            }
            @media (max-width: 767px){
                margin: 20px 0 30px;
                opacity: 1;
                top: 0;
            }
        }

        &__center {
            margin: 0 auto;
        }

        &__uptitle {
            margin-bottom: 20px;
            transform: perspective(100px) translate3d(0, 0, -200px);
            opacity: 0;

            &.anim-active {
                opacity: 1;
                transform: perspective(100px) translate3d(0, 0, 0);
                transition: all .4s ease-out 5s;
            }

            @media (max-width: 767px) {
                opacity: 1;
                transform: none;
            }
        }

        &__title {
            font-size: 96px;
            line-height: 98 / 96 * 100%;
            color: #FFFFFF;
            white-space: nowrap;
            opacity: 0;

            &.anim-active {
                opacity: 1;
                transition: opacity 1s .2s;

                &:after {
                    opacity: 1;
                    transition: opacity 1s 4.8s;
                }
            }

            &.default {
                opacity: 1;
            }
            

            &:after {
                margin: 30px auto;
                opacity: 0;
                @media (max-width: 767px) {
                    margin: 15px auto;
                    opacity: 1;
                }
                
            }

            @media (max-width: 767px) {
                opacity: 1;
            }

            @media (max-width: 1280px) {
                @include adaptiv-font(96, 28);
            }

            
        }

        &__btns {
            display: flex;
            justify-content: center;
            @media (max-width: 575px) {
                flex-direction: column;
            }
        }

        &__btn {
            position: relative;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.5);
            transition: background-color .4s, border .4s, left .6s ease-in-out 5.2s, opacity .6s ease-in-out 5.2s;
            @media (max-width: 767px) {
                height: 45px;
            }
            @media (max-width: 575px) {
                width: 100%;
            }

            a {
                color: #fff;
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }

            &--left {
                margin-right: 10px;
                left: -100%;
                opacity: 0;
                @media (max-width: 575px) {
                    margin: 0 0 10px;
                }

                @media (max-width: 767px) {
                    left: 0;
                    opacity: 1;
                }

                &.anim-active {
                    left: 0;
                    opacity: 1;
                    transition: background-color .4s, border .4s, left .6s ease-in-out 5.2s, opacity .6s ease-in-out 5.2s;
                }

                &.default {
                    left: 0;
                    opacity: 1;
                    transition: background-color .4s;
                }
                
            }

            &--right {
                margin-left: 10px;
                right: -100%;
                opacity: 0;
                @media (max-width: 575px) {
                    margin: 0;
                }
                @media (max-width: 767px) {
                    right: 0;
                    opacity: 1;
                }

                &.anim-active {
                    right: 0;
                    opacity: 1;
                    transition: background-color .4s, border .4s, right .6s ease-in-out 5.2s, opacity .6s ease-in-out 5.2s;
                }

                &.default {
                    right: 0;
                    opacity: 1;
                    transition: background-color .4s;
                }
            }

            &:hover {
                background-color: $main_color;
                border: 1px solid transparent;
            }
        }

        &__right {
            position: relative;
            display: flex;
            flex-direction: column;

            top: -150px;
            opacity: 0;

            &.anim-active{
                animation: body-parts .4s ease-in-out 5s forwards;
            }

            &.default {
                opacity: 1;
                top: 0;
            }

            @media (max-width: 991px) {
                display: none;
            }
        }

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 100%;
            margin-bottom: 20px;
            transition: all .4s;
            

            &:hover {
                border: 1px solid $main_color;

                svg {
                    fill: $main_color;
                }
            }

            svg {
                width: 30px;
                height: 30px;
                fill: #fff;
            }
        }
    }

    .btn-wrapper {
        padding-bottom: 83px;
        /* a {
            display: block;
        } */
        

        @media (max-width: 1199px) {
            padding-bottom: 70px;
        }

        @media (max-width: 991px){
            padding-bottom: 50px;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }

    .btn-down {
        position: relative;
        width: 60px;
        height: 60px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 100%;
        margin: 76px auto 0;
        
        cursor: pointer;

        opacity: 0;

        &.anim-active {
            opacity: 1;
            transition: opacity .05s ease-in-out 5.1s;

            &:after {
                opacity: 1;
                transition: opacity .05s ease-out 5.15s;
            }
        }

        &.default {
            opacity: 1;

            &:after {
                opacity: 1;
            }
        }


        @media (max-width: 1199px) {
            margin: 63px auto 0;
        }
        

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -145%;
            transform: translateX(-50%);
            display: block;
            width: 1px;
            height: 83px;
            background: rgba(255, 255, 255, 0.2);
            margin: 0 auto;
            opacity: 0;
            
        }

        &:hover {
            .btn-down__round {
                background: $main_color;
                transition: all .4s;

                svg {
                    fill: #fff;
                    transition: all .4s;
                }
            }
        }

        &__round {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            background: #FFFFFF;
            border-radius: 100%;
            transition: all .4s;

            svg {
                fill: #333333;
                width: 15px;
                height: 15px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: fill .4s;
            }
        }
    }
}