.main {
    position: relative;
    background: url('../img/main/main-bg.jpg') center center/cover no-repeat;

    .container {
        position: relative;
    }

    .header {
        position: absolute;
        width: 100%;
        padding: 0 80px;
        z-index: 20;
        top: 0;
        left: 0;

        @media (max-width: 991px) {
            padding: 10px 40px 0;     
        }
        &.fixed {
            position: fixed;
            z-index: 50;
            background: rgba(0, 0, 0, .8);

            .nav {
                max-width: 1440px;
                padding: 0 80px;
                margin: 0 auto;

                @media (max-width: 991px) {
                    padding: 0 40px;
                }

                &__item {
                    border: none;
                    @media (max-width: 1199px) {
                        height: 50px;
                    }
                    
                }

                &__icon {
                    position: relative;

                    svg {
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        top: 50px;
                        left: 50%;
                        transform: translateX(-50%);
                        stroke: black;

                        @media (max-width: 1199px) {
                            width: 70px;
                            height: 70px;
                            top: 15px;
                        }
                    }
                }
            }
        }
        
    }

    .nav {
        position: relative;
        display: flex;
        justify-content: space-between;

        &__list {
            display: flex;
            width: 532 / 1280 * 100%;

        }

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: 100px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);   
            user-select: none;  

            a {
                font-weight: 700;
                font-size: 12px;
                line-height: 18px;   
                color: #FFFFFF;
                border-bottom: 1px solid transparent;
                transition: all .4s;
                

                &:hover {
                    color: $main_color;
                    border-bottom: 1px solid $main_color;
                    
                }
            }

            @media (max-width: 991px) {
                height: 50px;     
            }
        }

        &__icon {
            width: 150 / 1280 * 100%;
            position: relative;

            svg {
                position: absolute;
                left: 50%;
                top: 25px;
                transform: translateX(-50%);
                width: 100%;
                fill: $main_color;

                @media (max-width: 991px) {
                    height: 75px;
                    top: 12.5px;       
                }
            }
        }
    }

    .divider {
        position: absolute;
        top: 100px;
        width: 1px;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        transform: translateX(-50%);

        @media (max-width: 991px) {
            top: 60px;    
        }

        &--left {
            left: 295 / 1440 * 100%;
        }

        &--center {
            top: 203px;
            height: 454px;
            left: 50%;

            @media (max-width: 1199px)  {
                height: 404px;
                top: 183px;
            }
            @media (max-width: 991px) {
                top: 117px;
                height: 426px;
            }
        }

        &--right {
            right: 295 / 1440 * 100%;
        }
    }

    .body {
        position: relative;
        padding-top: 325px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1199px)  {
            padding-top: 270px;
        }
        @media (max-width: 991px) {
            flex-direction: column-reverse;
            padding-top: 220px;
        }

        &__left {
            font-weight: 700;
            font-size: 12px;
            line-height: 12px;
            color: #FFFFFF;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            width: 60px;
            display: flex;

            @media (max-width: 991px) {
                    writing-mode: horizontal-tb;
                    transform: rotate(0);
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 30px;
            }
        }

        &__center {
            margin: 0 auto;
        }

        &__uptitle {
            margin-bottom: 20px;
        }

        &__title {
            font-size: 96px;
            line-height: 98 / 96 * 100%;
            color: #FFFFFF;
            white-space: nowrap;

            &:after {
                margin: 30px auto;
            }

            @media (max-width: 1280px) {
                @include adaptiv-font(96, 28);
            }
        }

        &__btns {
            display: flex;
            justify-content: center;
        }

        &__btn {
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.5);
            transition: all .4s;

            &--left {
                margin-right: 10px;
            }

            &--right {
                margin-left: 10px;
            }

            &:hover {
                background: $main_color;
                border: 1px solid transparent;
            }
        }

        &__right {

            display: flex;
            flex-direction: column;

            @media (max-width: 991px) {
                display: none;
            }
        }

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 100%;
            margin-bottom: 20px;
            transition: all .4s;

            &:hover {
                border: 1px solid $main_color;

                svg {
                    fill: $main_color;
                }
            }

            svg {
                width: 30px;
                height: 30px;
                fill: #fff;
            }
        }
    }

    .btn-wrapper {
        padding-bottom: 83px;

        @media (max-width: 1199px) {
            padding-bottom: 70px;
        }

        @media (max-width: 991px){
            padding-bottom: 50px;
        }
    }

    .btn-down {
        position: relative;
        width: 60px;
        height: 60px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 100%;
        margin: 76px auto 0;
        
        cursor: pointer;

        @media (max-width: 1199px) {
            margin: 63px auto 0;
        }
        

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -145%;
            transform: translateX(-50%);
            display: block;
            width: 1px;
            height: 83px;
            background: rgba(255, 255, 255, 0.2);
            margin: 0 auto;
            
        }

        &:hover {
            .btn-down__round {
                background: $main_color;
                transition: all .4s;

                svg {
                    fill: #fff;
                    transition: all .4s;
                }
            }
        }

        &__round {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            background: #FFFFFF;
            border-radius: 100%;
            transition: all .4s;

            svg {
                fill: #333333;
                width: 15px;
                height: 15px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: fill .4s;
            }
        }
    }
}