.menu {
    padding: 100px 0 70px;

    @media (max-width: 1199px) {
        padding: 70px 0 40px;
    }

    @media (max-width: 991px){
        padding: 50px 0 20px;
    }
    @media (max-width: 767px) {
        padding: 30px 0 20px;
    }

    .text {

        opacity: 0;
        transform: perspective(300px) translate3d(0, 200px, -500px);

        &.anim-active {
            opacity: 1;
            transform: perspective(300px) translate3d(0, 0, 0);
            transition: all .7s ease-in-out 0.2s;
        }

        &.default {
            opacity: 1;
            transform: none;
        }
        @media (max-width: 767px) {
            opacity: 1;
            transform: none;
        }
        &__title {
            &:after{
                width: 60px;
                margin: 13px auto;

                @media (max-width: 991px) {
                    margin: 6px auto;
                }
            }
        }

        &__subtitle {
            width: 44.2%;
            margin-bottom: 50px;
            @media (max-width: 1199px){
                width: 70%;
                margin-bottom: 30px;
            }
            @media (max-width: 767px) {
                width: 95%;
            }
            @media (max-width: 575px) {
                width: 100%;
            }

        }
    }

    .tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 51px;

        &.anim-active {  
            .tabs__item {
                border-left: 1px solid rgba(51, 51, 51, 0.2);
                @for $var from 1 to 8 { 
                    $delay: $var * 0.2 + 0.7;
                    &:nth-child(#{$var}) {                       
                        @if $var==1 {
                            transition: border-left .4s linear 2.2s;
                            animation: tabs-item .4s linear 0.9s forwards;
                        } @else {
                            transition: border-left .4s linear 2.2s;
                            animation: tabs-item .4s linear #{$delay + s} forwards;
                        }                        
                    }
                    
                }
            }            
        }

        &.default {
            .tabs__item {
                border-left: 1px solid rgba(51, 51, 51, 0.2);
                @for $var from 1 to 8 { 
                    &:nth-child(#{$var}) {                       
                        opacity: 1;
                        transform: none;                      
                    }
                    
                }
            }
        }
    

        @media (max-width: 991px) {
            margin-bottom: 30px;
        }

        @media (max-width: 575px) {
            flex-wrap: wrap;       
        }

        &__item {
            width: 120px;
            height: 50px;
            border-left: 1px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;

            font-weight: 700;
            font-size: 12px;
            line-height: 18px;

            color: #333333;
            cursor: pointer;
            user-select: none;
            
            opacity: 0;
            transform: translateY(100%);
            transition: color .4s;

            @media (max-width: 575px) {
                font-size: 10px;
                height: 35px;
                width: 120 / 535 * 100%;
            }
            @media (max-width: 767px) {
                opacity: 1;
                transform: none;
                border-left: 1px solid rgba(51, 51, 51, 0.2);
            }
            &:first-child {
                border-left: none !important;
                @media (max-width: 575px) {
                    border-left: 1px solid rgba(51, 51, 51, 0.2) !important;
                }
            }

            &:last-child {
                @media (max-width: 575px) {
                    border-right: 1px solid rgba(51, 51, 51, 0.2);
                }
            }
            &:nth-child(4) {
                @media (max-width: 575px) {
                    border-right: 1px solid rgba(51, 51, 51, 0.2);
                }
            }

            &:hover {
                color: $main_color;
            }

            &.active {
                color: $main_color;
            }
        }
    }

    .prices {
        &__item {
            margin: 0 auto 30px;
            max-width: 380px;

            @media (max-width: 1199px) {
                width: 100%;
            }
            @media (max-width: 767px) {
                margin: 0 auto 15px;
            }
        }

        &__header {
            
            display: flex;
            font-family: 'Banny';
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #333333;

            @media (max-width: 1280px) {
                font-size: 16px;
            }
            @media (max-width: 575px) {
                font-size: 14px;
            }

            @media (max-width: 1199px) {
                display: flex;
                justify-content: space-between;
            }

        }

        &__title {
            margin-right: 15px;
            @media (max-width: 575px) {
                margin-right: 8px;
                margin-left: 5px;
                font-size: 13px;
            }
        }

        &__descr {
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: rgba(51, 51, 51, 0.5);
            @media (max-width: 575px) {
                font-size: 11px;
                padding-left: 5px;
            }
        }

        &__slider {
            opacity: 0;

            &.anim-active {
                opacity: 1;
                transition: opacity .8s ease-in-out 2.3s;
            }
            
            &.default {
                opacity: 1;
            }

            @media (max-width: 767px) {
                opacity: 1;
            }
        }
    }

}