html, body, .perspective {
	width: 100%;
	height: 100%;
}

.perspective {
	background: #aaa;
    position: relative;
}



.content {
	background: #fff;
	min-height: 100%;
	position: relative;
    outline: 1px solid rgba(0,0,0,0);
    z-index: 50;
    
}
.content.transform {
	transform: translateZ(0) translateX(0) rotateY(0deg);
}
/* .content::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	opacity: 0;
	background: rgba(0,0,0, 0.2); */
	/* the transition delay of the height needs to be synced with the container transition time */
/* 	-webkit-transition: opacity 0.4s, height 0s 0.4s;
    transition: opacity 0.4s, height 0s 0.4s;
}
 */
.wrapper {
	position: relative;
}

.perspective.modalview {
	position: fixed;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.modalview .content {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.modalview .wrapper {
	/* -webkit-transform: translateZ(-1px); */ /* solves a rendering bug in Chrome on Windows */
}

/* .animate .content::after {
	opacity: 1;
	height: 101%;
    transition: opacity 0.3s;
} */


/* Outer Nav */
.outer-nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
    font-size: 20px;
    z-index: 1;
    width: 100%;
    padding-top: 20%;
    padding-left: 20%;
    @media (max-width: 575px) {
        align-items: flex-start;   
    }

    @media (max-height: 480px) {
        padding-top: 5%;
    }
}


.outer-nav.vertical {
    top: 0;
    transform-style: preserve-3d;
}

.outer-nav__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @media (max-width: 575px) {
        height: 70%;
        
    }
}


.outer-nav.vertical a {
	display: block;
}


.effect-moveleft {
	background: url('../img/menu-bg.jpg') center center no-repeat;
}

.effect-moveleft .content {
	transition: transform 0.4s;
	transform-origin: 50% 50%;
}

.effect-moveleft .content::after {
	background: rgba(0, 0, 0, 0.6);
}

.effect-moveleft.animate .content {
    transform: translateX(-50%) rotateY(45deg) translateZ(-50px);
    transition: all 0.4s;
}

/* .no-csstransforms3d .effect-moveleft.animate .content {
	left: -75%;
} */

.effect-moveleft.animate .outer-nav {
    .outer-nav__title {
        opacity: 1;
        transform: translateX(0) translateZ(0) translateY(-50%);
    }
}

.effect-moveleft .outer-nav a {
    font-family: 'Banny';
	color: #fff;
    opacity: 0;
	transform: translateX(100px) translateZ(-1000px);
    transition: all 0.4s, opacity 0.4s;
    pointer-events: none;

}

.effect-moveleft .outer-nav a:hover {
	color: $main_color;
}

.effect-moveleft.animate .outer-nav a {
    pointer-events: auto;
	opacity: 1;
	transform: translateX(0) translateZ(0);
}

.effect-moveleft.animate .outer-nav a:nth-child(2) {
	transition-delay: 0.04s;
}

.effect-moveleft.animate .outer-nav a:nth-child(3) {
	transition-delay: 0.08s;
}

.effect-moveleft.animate .outer-nav a:nth-child(4) {
	transition-delay: 0.12s;
}

.effect-moveleft.animate .outer-nav a:nth-child(5) {
	transition-delay: 0.16s;
}

.effect-moveleft.animate .outer-nav a:nth-child(6) {
	transition-delay: 0.2s;
}

.effect-moveleft.animate .outer-nav a:nth-child(7) {
	transition-delay: 0.24s;
}

.effect-moveleft.animate .outer-nav a:nth-child(8) {
	transition-delay: 0.28s;
}

.effect-moveleft.animate .outer-nav a:nth-child(9) {
	transition-delay: 0.32s;
}

.effect-moveleft.animate .outer-nav a:nth-child(10) {
	transition-delay: 0.36s;
}