.photos {
    
    .slider-photos {
        opacity: .1;

        &.anim-active {
            opacity: 1;
            transition: opacity .8s .2s;
        }

        &.default {
            opacity: 1;
        }
        &__item {

            img {
                display: block;
                width: 100%;
                object-fit: contain;
                margin: 0 auto;
            }
        }

        .slick-slide {
            width: 25% !important;
        }

        @media (max-width: 767px) {
            opacity: 1;
        }
    }
}