.slider {
    
    &__item {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }

    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 45px;
        padding-bottom: 45px;

        @media (max-width: 1199px){
            margin-top: 30px;
            padding-bottom: 30px;
        }

        @media (max-width: 991px){
            margin-top: 20px;
        }
        @media (max-width: 767px) {
        }
        

       li {
           list-style: none;
           margin: 0 12.5px;

            &.slick-active {
                button {
                    background: #FFFFFF;
                }
                
            }
       }

       button {
           font-size: 0;
           width: 10px;
           height: 10px;
           border: none;
           background: rgba(255, 255, 255, 0.5);
           border-radius: 100%;
       }
    }
}

.slick-list {
    overflow: hidden;
    position: relative;
    z-index: 3;
    @media (max-width: 767px) {
        height: auto;
    }
}

.slick-track {
    display: flex;
}

.slider-menu {
    .slick-list {
        padding: 0 !important;
    }
    .slick-track {
        justify-content: space-between;
    }
    
    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        @media (max-width: 991px) {
            margin-top: 0;
        }

       li {
           list-style: none;
           margin: 0 12.5px;

            &.slick-active {
                button {
                    background: $main_color;
                }
                
            }
       }

       button {
           font-size: 0;
           width: 10px;
           height: 10px;
           border: 1px solid $main_color;
           background: #fff;
           border-radius: 100%;
       }

        
        
    }
}
