.slider {
    
    &__item {
        display: flex !important;
        justify-content: space-between;
    }

    .slick-dots{
        display: flex; 
        position: absolute;
        bottom: 45px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 30;

       li {
           list-style: none;
           margin: 0 12.5px;

            &.slick-active {
                button {
                    background: #FFFFFF;
                }
                
            }
       }

       button {
           font-size: 0;
           width: 10px;
           height: 10px;
           border: none;
           background: rgba(255, 255, 255, 0.5);
           border-radius: 100%;
       }
    }
}

.slick-list {
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.slick-track {
    display: flex;
}

.slider-menu {
    .slick-list {
        padding: 0 !important;
    }
    .slick-track {
        justify-content: space-between;
    }
    /* .slick-slide {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    } */
}