@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

$main_color: #FFD600;

// Fonts
@import 'fonts';

// Default settings
@import 'default';

body {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}



.container {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;

    @media (max-width: 991px) {
        padding: 0 40px;             
    }
    @media (max-width: 575px) {
        padding: 0 20px;    
    }
}

::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #333;
    
}
::-webkit-scrollbar-thumb {
    background-color: $main_color;
    border-radius: 5px;
}
::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}
::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}


// Blocks

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/titles';
@import 'blocks/btn';
@import 'blocks/about';
@import 'blocks/chef';
@import 'blocks/book';
@import 'blocks/special';
@import 'blocks/slider';
@import 'blocks/menu';
@import 'blocks/events';
@import 'blocks/photos';
@import 'blocks/contact';
@import 'blocks/map';
@import 'blocks/footer';
@import 'keyframes';